.entire-content{
  height: 930px;
  width: 300px;
  background-color: #0E7C7B;
  border-radius: 25px;  
}


ul {
  list-style: none;
}

ul.intro-contents{
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-pic{
  height: 350px;
  width: 300px;
  margin: 0%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.intro-name{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 25px;
  font-weight: 550
}

.intro-job{
  font-size: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro-website{
  font-size: 14px;
}

ul.intro-button-email, ul.intro-button-linkedin{
  padding: 10px;
}


.intro-button, .intro-button-email, .intro-button-linkedin{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0%
}

.intro-button-email, .intro-button-linkedin{
  background-color: #17BEBB;
  border-radius: 25px;
}

.intro-button-email-text, .intro-button-linkedin-text{
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}

h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  text-align: justify;
}

h1, p{
  padding: 10px;
}

.footer-logos{
  display: flex;
  justify-content: space-around;
  padding: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #181D27;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}